---
http_interactions:
- request:
    method: post
    uri: https://integration-tableau.test.kitcheck.com/api/2.0/auth/signin
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <tsRequest>
          <credentials name="<%=ENV['TABLEAU_ADMIN_USER']%>" password="<%=ENV['TABLEAU_ADMIN_PASSWORD']%>">
            <site contentUrl=""/>
          </credentials>
        </tsRequest>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      Etag:
      - '"d46e0085ecf66270fed9d92ec70e0724-gzip"'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <tsResponse xmlns="http://tableausoftware.com/api" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://tableausoftware.com/api http://tableausoftware.com/api/ts-api-2.0.xsd">
          <credentials token="b76cf89c9c1e4616fc388d95601f3793">
            <site id="b4126fe9-d7ee-4083-88f9-a56661f40416" contentUrl=""/>
            <user id="cf68994e-29c8-4f41-bf6c-398e3666131e"/>
          </credentials>
        </tsResponse>
  recorded_at: Wed, 02 Sep 2015 16:34:19 GMT
- request:
    method: get
    uri: https://integration-tableau.test.kitcheck.com/api/2.0/sites/?key=contentUrl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      X-Tableau-Auth:
      - b76cf89c9c1e4616fc388d95601f3793
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      Etag:
      - '"0c433e0e93aa49328c0a3b5bae4399bf-gzip"'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <tsResponse xmlns="http://tableausoftware.com/api" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://tableausoftware.com/api http://tableausoftware.com/api/ts-api-2.0.xsd">
          <pagination pageNumber="1" pageSize="100" totalAvailable="5"/>
          <sites>
            <site id="b4126fe9-d7ee-4083-88f9-a56661f40416" name="Default" contentUrl="" adminMode="ContentAndUsers" state="Active"/>
          </sites>
        </tsResponse>
  recorded_at: Wed, 02 Sep 2015 16:34:19 GMT
- request:
    method: get
    uri: https://integration-tableau.test.kitcheck.com/api/2.0/sites/Default?includeProjects=false&key=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      X-Tableau-Auth:
      - b76cf89c9c1e4616fc388d95601f3793
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      Etag:
      - '"1ba225acaa3ea8785958ed329d89c6c9-gzip"'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <tsResponse xmlns="http://tableausoftware.com/api" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://tableausoftware.com/api http://tableausoftware.com/api/ts-api-2.0.xsd">
          <site id="b4126fe9-d7ee-4083-88f9-a56661f40416" name="Default" contentUrl="" adminMode="ContentAndUsers" disableSubscriptions="false" state="Active">
          </site>
        </tsResponse>
  recorded_at: Wed, 02 Sep 2015 16:34:19 GMT
- request:
    method: get
    uri: https://integration-tableau.test.kitcheck.com/api/2.0/sites/b4126fe9-d7ee-4083-88f9-a56661f40416/users?pageSize=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      X-Tableau-Auth:
      - b76cf89c9c1e4616fc388d95601f3793
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      Etag:
      - '"626edb4be13a9ddde65ff89724b55088-gzip"'
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <tsResponse xmlns="http://tableausoftware.com/api" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://tableausoftware.com/api http://tableausoftware.com/api/ts-api-2.0.xsd">
          <pagination pageNumber="1" pageSize="1000" totalAvailable="15"/>
          <users>
            <user id="cf68994e-29c8-4f41-bf6c-398e3666131e" name="<%=ENV['TABLEAU_ADMIN_USER']%>" siteRole="ServerAdministrator" externalAuthUserId="" lastLogin="2015-09-02T16:34:20Z"/>
          </users>
        </tsResponse>
  recorded_at: Wed, 02 Sep 2015 16:34:20 GMT
recorded_with: VCR 2.9.3
